<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junmo.web.mapper.DotRecordMapper">
    <resultMap id="BaseResultMap" type="com.junmo.web.entity.DotRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="event_type" jdbcType="VARCHAR" property="eventType"/>
        <result column="analysis_message" jdbcType="VARCHAR" property="analysisMessage"/>
        <result column="trigger_time" jdbcType="TIMESTAMP" property="triggerTime"/>
    </resultMap>

    <sql id="conditions">
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>

            <if test="eventType != null">
                and event_type = #{eventType,jdbcType=VARCHAR}
            </if>

            <if test="analysisMessage != null">
                and analysis_message = #{analysisMessage,jdbcType=VARCHAR}
            </if>

            <if test="triggerTime != null">
                and trigger_time = #{triggerTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
        id
        , event_type, analysis_message, trigger_time
    </sql>

    <select id="getBy" parameterType="com.junmo.web.entity.DotRecordQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dot_record
        <include refid="conditions"/>
        limit 1
    </select>

    <select id="selectBy" parameterType="com.junmo.web.entity.DotRecordQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dot_record
        <include refid="conditions"/>
    </select>

    <select id="countBy" parameterType="com.junmo.web.entity.DotRecordQuery" resultType="java.lang.Integer">
        select count(0) from dot_record
        <include refid="conditions"/>
    </select>

    <update id="updateById" parameterType="com.junmo.web.entity.DotRecord">
        update dot_record
        <set>
            <if test="eventType != null">
                event_type = #{eventType,jdbcType=VARCHAR},
            </if>

            <if test="analysisMessage != null">
                analysis_message = #{analysisMessage,jdbcType=VARCHAR},
            </if>

            <if test="triggerTime != null">
                trigger_time = #{triggerTime,jdbcType=TIMESTAMP},
            </if>
        </set>

        <where>
            id = #{id,jdbcType=BIGINT}
        </where>
    </update>

    <delete id="deleteById">
        delete
        from dot_record
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" keyProperty="id" parameterType="com.junmo.web.entity.DotRecord"
            useGeneratedKeys="true">
        insert into dot_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventType != null">
                event_type,
            </if>

            <if test="analysisMessage != null">
                analysis_message,
            </if>

            <if test="triggerTime != null">
                trigger_time,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventType != null">
                #{eventType,jdbcType=VARCHAR},
            </if>

            <if test="analysisMessage != null">
                #{analysisMessage,jdbcType=VARCHAR},
            </if>

            <if test="triggerTime != null">
                #{triggerTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="batchInsert">
        insert into dot_record
        (event_type, analysis_message, trigger_time)
        values
        <foreach collection="dotRecordList" item="dotRecord" separator=",">
            (
            #{dotRecord.eventType,jdbcType=VARCHAR},
            #{dotRecord.analysisMessage,jdbcType=VARCHAR},
            #{dotRecord.triggerTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>
